@import "~antd/dist/antd.css";

.container {
  width: 50vw;
  right: 50%;
  margin: auto;
  border: 1px solid #282a36;
  margin-right: 25%;
  align-items: center;
  border: none;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
