@import "~antd/dist/antd.css";

.container {
  height: 500px;
  width: 50vw;
  margin: auto;
  margin-top: 10%;
  margin-right: 25%;
  align-items: center;
  border: none;
}

.title {
  margin: auto;
  margin-bottom: 5%;
  margin-right: 25%;
}
